upstream samplecluster {

{% for host in groups['nginx_servers'] %}
  server {{ host }};
{% endfor %}

}

server {
  listen 80;
  server_name _;

  location / {
    proxy_pass http://samplecluster;
  }

}
